<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <h1>Hostall</h1>
    <nav id="navbar">
      <button id="mobileMenuToggle" aria-label="Toggle menu">
        <i class="fas fa-bars"></i>
      </button>
      <div id="navLinks">
        <a href="#">Dashboard</a>
        <a href="#">Mess menu</a>
        <a href="#">Find Roommates</a>
        <a href="#">Lost & Found</a>
      </div>
    </nav>
    <div class="user-icon">
      <i class="fas fa-user"></i> <!-- This is the Font Awesome User Icon -->
    </div>
  </header>
  <div class="login-container">
    <div class="login-form">
            <h2>Register form</h2>
            <form action="/register" method="POST">
                <div class="input-group">
                   <label for="name">Name:</label>
                   <input type="text" id="username" placeholder="Enter name" name="name">
                </div>
                <div class="input-group">
                <label for="email">Email:</label>
                <input type="email"  id="username" placeholder="Enter email" name="email">
                </div>
                <div class="input-group">
                    <label for="block">Enter Hostel Block(MHH,LHH,LHE):</label>
                    <select type="block"  id="block" name="block">
                      <option value="MH">None</option>
                        <!-- Mens Hostel -->
                        <option value="MH">MHA</option>
                        <option value="MH">MHB</option>
                        <option value="MH">MHC</option>
                        <option value="MH">MHD</option>
                        <option value="MH">MHE</option>
                        <option value="MH">MHF</option>
                        <option value="MH">MHG</option>
                        <option value="MH">MHH</option>
                        <option value="MH">MHJ</option>
                        <option value="MH">MHK</option>
                        <option value="MH">MHL</option>
                        <option value="MH">MHM</option>
                        <option value="MH">MHN</option>
                        <option value="MH">MHP</option>
                        <option value="MH">MHQ</option>
                        <option value="MH">MHR</option>
                        <option value="MH">MHS</option>
                        <option value="MH">MHT</option>
                        
        <!-- Ladies Hostel -->
                        <option value="LH">LHA</option>
                        <option value="LH">LHB</option>
                        <option value="LH">LHC</option>
                        <option value="LH">LHD</option> 
                        <option value="LH">LHE</option>
                        <option value="LH">LHF</option>
                        <option value="LH">LHG</option>
                        <option value="LH">LHH</option>
                        <!-- Add more options as needed -->
                      </select>
                </div>
                

                <div class="input-group">
                <label for="pwd">Password:</label>
                <input type="password" id="password" placeholder="Enter password" name="password">
                </div>
                <button type="submit" class="login-btn user-login">Submit</button>
                <p class="signup-text">Already have an account? <a href="/login">Login</a></p>
            </form>
    </div>
  
</div>

 
</div>
</body>
</html>
